<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
    <a href='/urls/new'>Add new URL</a>
      <ul>
        <% for (var id in urls){ %>
          <li>
            <a style="display: inline-block" href= /u/<%= id%>><%= id%></a> -> <%= urls[id]%>
            <a href='/urls/<%= id%>'>Edit</a>
            <form method="POST" action='/urls/<%= id%>/delete' style="display:inline-block">
              <input type="submit" value="Delete">
            </form>
            <br/>
          </li>
        <% } %>
      </ul>
  </main>
</body>
</html>
